:root {
  --color-white: #ffffff;
  --color-gray: #80868b;
  --color-grayish: #dadce0;
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  font-size: 100%;
  font-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: Okra, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-black);
  background: var(--color-light);
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  font-size: 1rem;
    line-height: 2rem;
    /* margin: 1.5rem 0px; */
    font-weight:100;
    color: rgb(79, 79, 79);
    /* border: 2px solid black; */
}
img {
  width: 12%;
  /* border: 2px solid black; */
}
.login-email {
  width: 12%;
  height: 10%;
  padding: 8px;
  /* border: 2px solid black; */
}

.send {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
  /* border: 2px solid green; */
  box-sizing: border-box;
}
.send1{
  display: flex;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.5rem;
  /* border: 3px solid;
  background-color: pink; */
}
select{
  /* width: 16%; */
  /* height: -1%; */
  /* padding-top: 0%; */
  /* margin-top: 5%; */
  border: none;
  margin: 10px;
  /* border: 2px solid yellow; */
}
.text1{
    width: 79%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    /* background-color: red; */
    border-left: 1px solid rgb(207, 207, 207);
}
.btn {

  background: border-box rgb(239, 79, 95);
  border-color: rgb(239, 79, 95);
  color: var(--color-white);
  outline: none;
  /* box-shadow: rgb(0 0 0 / 16%) 0px 0.4rem 0.6rem; */
  box-shadow: var();
  /* width: 96%; */
  /* height: 94%; */
  padding: 10px;
  display: flex;
  /* border: 4px solid black; */
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: lighter;
  border-radius: 0.3rem;
  gap: 2rem;
  flex-direction: column;
  /* padding: 4%; */
  margin-top: 5%;

}
.input-control {
  /* background-color:var(--color-grayish); */
  color: var(--color-black);
  
}
.log-in-btn {
  cursor: pointer;
  margin-right: 20px;
  /* border: 2px solid white; */
}
.login-container {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 1px;
  position: fixed;
  
}
.main .wrapper {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  /* width: 100%; */
  margin: 2rem auto;
  padding: 2rem 2.5rem;
  /* border:1px solid red; */
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: var(--shadow-large);
}
.main .wrapper .form .input-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.main .wrapper .striped {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.main .wrapper .striped-line {
  flex: auto;
  flex-basis: auto;
  border: none;
  outline: none;
  height: 2px;
  background: var(--color-grayish);
}
.main .wrapper .striped-text {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  color: var(--color-black);
  margin: 0px 0.5rem;
}
.main .wrapper .method-control {
  margin-bottom: 1rem;
  
}
.main .wrapper .method-action {
  line-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 border: 1px solid rgb(207, 207, 207);
  border-radius: 0.5rem;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: rgb(105, 105, 105);
  /* border: 2px solid green; */
}
.main .wrapper .method-action:hover {
  background: var(--color-light);
}
